<% content_for(:image_section) { image_tag('mundo.png') } %>
<div class="main-content">
  <h1>Sobre el proyecto</h1>
  <p  class="title-desc">
    El proyecto Mapa Verde inaugura un espacio necesario y estratégico de colaboración interinstitucional, formación y participación juvenil en temas de desarrollo ambientalmente sostenible en Uruguay. Es una plataforma de información y comunicación, que conecta a iniciativas juveniles ambientales entre ellas y con el resto de la sociedad.
  </p>
  <h2>¿Quiénes participan?</h2>
  <p  class="desc">
    El proyecto Mapa Verde fue diseñado y es gestionado por la <a href="https://um.edu.uy/facultad-de-comunicacion">Facultad de Comunicación (FCOM)</a> de la Universidad de Montevideo (UM), en el marco de su <a href="https://sites.google.com/view/c4dum/comunicaci%C3%B3n-para-el-desarollo?authuser=0">línea de investigación y extensión en comunicación para el desarrollo sostenible</a>. Cuenta, desde la etapa de ideación, con el impulso y la participación de las iniciativas juveniles <a href="https://www.instagram.com/fridaysforfutureuy/?hl=es-la">Fridays for Future</a>, <a href="https://www.instagram.com/abejauy/?hl=es-la">Movimiento Abeja</a> y <a href="https://www.instagram.com/ecocity_uy/?hl=es-la">Ecocity</a>, que conforman el Consejo Consultor del proyecto. Se puso en marcha en 2023, gracias al apoyo de <a href="https://www.unicef.org/uruguay/">UNICEF</a>, en el marco de su programa Acción Climática, y a fondos otorgados por la <a href="https://uy.usembassy.gov/es/">Embajada de los Estados Unidos en Uruguay</a>. Cuenta asimismo con la colaboración del Instituto Nacional de la Juventud (INJU). La plataforma digital fue un trabajo conjunto con Data Uruguay, desarrolladores del sitio web y encargados de su mantenimiento. El proceso de co-creación del Mapa Verde involucró también a jóvenes de distintos puntos del país con interés en la acción ambiental y la comunicación.
  </p>
  <h2>¿Cómo surge la iniciativa?</h2>
  <p  class="desc">
    La idea surge en 2021, en el programa “<a href="https://um.edu.uy/noticias/comunicacion-para-salvar-el-planeta">Comunicación para salvar el planeta</a>”, realizado por la <a href="https://um.edu.uy/facultad-de-comunicacion">Facultad de Comunicación de la Universidad de Montevideo</a> en conjunto con INJU! y con el apoyo de <a href="https://www.unicef.org/uruguay/">UNICEF</a> y del Ministerio de Ambiente. Del diálogo entre profesores, estudiantes e iniciativas juveniles que estaban trabajando sobre la problemática ambiental en Uruguay, surge la necesidad de contar con una herramienta para conocer, vincular y potenciar la acción ambiental joven en Uruguay. Este diagnóstico se confirma y se estudia más a fondo en programas formativos como “<a href="https://um.edu.uy/noticias/la-ciencia-de-comunicar-para-inspirar">La ciencia de comunicar para inspirar</a>” (2021), impulsado desde la FCOM y financiado por la <a href="https://uy.usembassy.gov/es/">Embajada de Estados Unidos en Uruguay,</a> y en investigaciones académicas sobre participacion juvenil y comunicación ambiental, realizadas por la UM.</p>
    <p>Entre 2022 y 2023, el interés de las iniciativas juveniles reactiva la idea, la FCOM lleva adelante una investigación exploratoria sobre la viabilidad de la plataforma digital Mapa Verde y, en esta colaboración academia-tercer sector, se articula un proyecto que logra los fondos y los apoyos institucionales necesarios para llevarla a la práctica mediante un proceso participativo. Las iniciativas juveniles que lo impulsan en esta etapa son Ecocity (Paysandú), Fridays for Future Uruguay (Montevideo) y Movimiento Abeja (Colonia).
  </p>
  <h2>¿Quiénes somos?</h2>
    <h3>Presenta</h3>
        <a href="https://um.edu.uy/facultad-de-comunicacion" target="_blank">
          <%= image_tag("um_color.png", alt:"Facultad de Comunicación de la Universidad de Montevideo") %>
        </a>      
    <h3>Impulsan:</h3>
        <a href="https://www.unicef.org/uruguay/" target="_blank">
          <%= image_tag("unicef_color.png", alt:"UNICEF Uruguay") %>
        </a>
        <a href="https://uy.usembassy.gov/es/" target="_blank">
          <%= image_tag("usemb_color.png", alt:"Emabajada de los Estados Unidos en Uruguay") %>
        </a>
    <h3>Consejo Consultor</h3>  
        <a href="https://www.instagram.com/fridaysforfutureuy/" target="_blank">
          <%= image_tag("fff_color.png", alt:"Fridays for Future Uruguay") %>
        </a>
        <a href="https://www.instagram.com/abejauy/" target="_blank">
          <%= image_tag("abeja_color.png", alt:"Movimiento Abeja") %>
        </a>
        <a href="https://www.instagram.com/ecocity_uy/" target="_blank">
          <%= image_tag("ecocity_color.png", alt:"EcoCity") %>
        </a>
    <h3>Colaboran:</h3>
        <a href="https://data.org.uy" target="_blank">
          <%= image_tag("data_color.png", alt:"DATA Uruguay") %>
        </a>
        <a href="https://inju.gub.uy" target="_blank">
          <%= image_tag("inju_color.png", alt:"INJU") %>
        </a>
    <h3>Consejo Asesor:</h3>
        <ul>
            <li>Adriana Loeff, Mag., experta en periodismo y video documental</li>
            <li>Analía Levin, PhD., experta en comunicación, cultura y movimientos sociales</li>
            <li>Elena Spagnuolo, MBA, experta en proyectos digitales</li>
            <li>Florencia Traibel, Mag., experta en contenidos informativos multimedia</li>
            <li>Lucía Mancuello, Mag., experta en investigación de opinión pública y del consumidor</li>
            <li>Nadia Carreras y Javier Castro, Lic., expertos en accesibilidad y comunicación</li>
        </ul>
    
  <h2>Línea del tiempo</h2>
    <h3>2023</h3>
        <ul>
            <li>Octubre </li>
            <ul>
                <li>Lanzamiento público del proyecto “Mapa Verde: Acción ambiental Joven en Uruguay” en la Semana de la Comunicación para el Desarrollo organizada por la Universidad de Montevideo. </li>
            </ul>
            <li>Noviembre</li>
            <ul>
                <li>Dos talleres de socialización de la iniciativa y recogida de datos con jóvenes participantes de la <em>Green Academy </em>(Alianza Cultural Uruguay - Estados Unidos) y de la Semana de la Comunicación para el Desarrollo (UM).</li>
                <li>Dos talleres de cocreación de la plataforma digital y exploración del trabajo en red facilitados por DATA Uruguay y la Facultad de Comunicación de la UM, con participación de miembros de las organizaciones del Consejo Consultor junto a jóvenes provenientes de otras iniciativas y organizaciones ambientales del país.</li>
            </ul>
            <li>Diciembre</li>
            <ul>
                <li>Taller de cocreación y validación de avances en la construcción de la plataforma digital, en el que confluyeron jóvenes vinculados a iniciativas ambientales de todo el país. </li>
                <li>Desarrollo del prototipo de la plataforma Mapa Verde.</li>
                <li>Búsqueda de iniciativas ambientales juveniles por distintas vías y mecanismos participativos.</li>
            </ul>
        </ul>
    <h3>2024</h3>
        <ul>
            <li>Enero</li>
            <ul>
                <li>Desarrollo y testeo de la plataforma web Mapa Verde.</li>
                <li>Verificación de datos recibidos sobre iniciativas ambientales juveniles.</li>
            </ul>
            <li>Febrero</li>
            <ul>
                <li>Tour por el Interior: jornadas de mapeo colaborativo, testeo de la plataforma y talleres de participación juvenil y comunicación ambiental en Colonia, Paysandú, Rivera, Maldonado y Canelones.</li>
                <li>Testeo de la plataforma web Mapa Verde por parte de los más de 60 participantes a las jornadas del Tour por el interior de Mapa Verde.</li>
            </ul>
            <li>Marzo</li>
            <ul>
                <li>Desarrollo de accesibilidad de la plataforma: testeo de la plataforma web Mapa Verde.</li>
                <li>Inicio de los talleres virtuales de Comunicación Ambiental del Mapa Verde a cargo de la Facultad de Comunicación de la UM.</li>
            </ul>
            <li>Abril</li>
            <ul>
                <li>Talleres virtuales de Comunicación Ambiental del Mapa Verde a cargo de la Facultad de Comunicación de la UM.</li>
                <li>¡Presentación pública de la Plataforma Mapa Verde!</li>
                <li>Encuentro Nacional de Acción Ambiental Joven</li>
            </ul>
        </ul>
  <h2>¿Cómo mapea el Mapa Verde?</h2>
  <p  class="desc"> Tras la búsqueda online sistemática y las instancias participativas de recolección de datos sobre iniciativas juveniles ambientales, estos fueron verificados y ampliados por el equipo de la FCOM UM. </p>
  <p  class="desc">De este proceso, resultan tres tipos de iniciativas que se incluyen en el Mapa Verde de Acción Ambiental Joven en Uruguay:  </p>
    <ol>
        <li>organizaciones juveniles sin fines de lucro, gestionadas por jóvenes entre 13 y 29 años, cuya conformación es total o mayoritariamente juvenil. </li>
        <li>espacios de participación o voluntariado juvenil organizados por terceros (públicos y privados) en los que la juventud tiene un rol protagónico</li>
        <li>emprendimientos ambientales de jóvenes. </li>
        <li>Redes ambientales nacionales que integran a jóvenes y a iniciativas juveniles ambientales.</li>
    </ol>
  <p  class="desc">A abril de 2024, el Mapa Verde georeferencia, hipervincula y describe 25 iniciativas colectivas de acción ambiental joven y sigue en construcción. <a href="https://mapaverde.uy/involucrarme">Si conoces una iniciativa que quisieras sumar al Mapa Verde, completa el formulario en este enlace</a>.</p>
  <h2>¿Qué más brinda el Mapa Verde?</h2>
  <p  class="desc">
    Además del Mapa, la web ofrece un “Calendario” con actividades organizadas por las iniciativas mapeadas y otras que apuntan a potenciar la participación juvenil en temas ambientales.  <a href="https://mapaverde.uy/calendario">Si quieres sumar una actividad al calendario, completa el formulario en este enlace</a>.</p>
  <p  class="desc">Por otra parte, la sección “Recursos” del sitio web reúne herramientas, materiales de consulta y sitios de referencia sobre la crisis ambiental y las acciones en respuesta.
  </p>
  </div>