<% content_for(:image_section) { image_tag('mundo.png') } %>
<h1>Contacto y reportes</h1>
<p>En esta sección de Contacto, te ofrecemos diversas formas de ponerte en contacto con el equipo por consultas, sugerencias o si simplemente quieres colaborar con la iniciativa. Estamos aquí para escucharte. Para eso, puedes completar el formulario de contacto que encontrarás a continuación:</p>
<% if notice.present? %>
  <%= render partial: '/layouts/notification', locals: {msg: notice} %>
<% end %>
<%= form_with scope: :static_pages, url: contact_path, class: "container", data: {controller: 'form', action: 'turbo:submit-end->form#validate'}, id: "contact-form" do |form| %>
  <div class="section">
    <h3>Tipo de contacto</h3>
    <%= form.select :contact_type, [
        ["General", "General"],
        ["Reporte sobre organización", "Reporte sobre organización"],
        ["Reporte sobre evento", "Reporte sobre evento"],
        ["Reporte sobre accesibilidad", "Reporte sobre accesibilidad"]
      ], 
      selected: params['oid'].present? ? "Reporte sobre organización" : params['actid'].present? ? "Reporte sobre evento" : params['subject'].present? ? "Reporte sobre accesibilidad" : 0,
      data: { action: 'change->form#contact_type', target: 'form.contactType'} 
    %>
    <%= form.select :organization, Organization.all.pluck(:name, :id), include_blank: "Organización vinculada al reporte (si corresponde)", id: "oid", class: "toggle-content", selected: params['oid'].present? ? params['oid'] : '' %>
    <%= form.select :activity, Activity.all.pluck(:title, :id), include_blank: "Actividad vinculada al reporte (si corresponde)", id: "actid", class: "toggle-content", selected: params['actid'].present? ? params['actid'] : '' %>
  </div>
  <div class="section">
    <div class="row">
      <%= form.text_field :name, placeholder: "Nombre y apellido", class: 'half optional' %>
      <%= select_tag :state_id, options_for_select(Zone.where(ztype: 1).order(:name).pluck(:name, :id)), include_blank: "Departamento", class: 'half ' %>
    </div>
    <div class="row">
      <%= form.email_field :email, placeholder: "Email", class: 'half optional' %>
      <%= form.text_field :phone, placeholder: "Teléfono", class: 'half optional' %>
    </div>
    <div class="row">
      <%= form.text_area :message, class: "form-control", placeholder: "Comentario" %>
    </div>
    <span class="form-help">Máximo de 500 caracteres</span>
  </div>
  <div class="recaptcha-wrapper">
    <% if @show_checkbox_recaptcha %>
      <%= recaptcha_tags(site_key: Rails.application.credentials.recaptcha.site_key) %>
    <% else %>
      <%= recaptcha_v3(action: 'contact') %>
    <% end %>
  </div>
  <%= form.submit "Enviar", class: "input-file-label" %>
<% end %>