<div id="filters">
  <button aria-expanded="false" class="wrapper select-wrapper" onclick="Mapa.toggleSearchSelect('otype', this)"  aria-label="Tipo">
    <div id="otype-trigger" class="select-filter">
    <img class="icon" src="/images/type.svg"/>
    <span>Tipo</span>
    </div>
    <ul id="otype" class="select-options">
      <%= search_options(@otype_options, 'otypes', 'map') %>
    </ul>
    <i class="fas fa-chevron-down right"></i>
  </button>
  <button aria-expanded="false" class="wrapper select-wrapper" onclick="Mapa.toggleSearchSelect('subject', this)" aria-label="Temática">
    <div id="subject-trigger" class="select-filter">
      <img class="icon" src="/images/subject.svg"/>
      Temática
    </div>
    <ul id="subject" class="select-options">
      <%= search_options(@subject_options, 'subjects', 'map') %>
    </ul>
    <i class="fas fa-chevron-down right"></i>
  </button>
  <button aria-expanded="false" class="wrapper select-wrapper" onclick="Mapa.toggleSearchSelect('action', this)" aria-label="Acciones">
    <div id="action-trigger" class="select-filter">
      <img class="icon" src="/images/action.svg"/>
      Acciones
    </div>
    <ul id="action" class="select-options">
      <%= search_options(@action_options, 'actions', 'map') %>
    </ul>
    <i class="fas fa-chevron-down right"></i>
  </button>
  <button aria-expanded="false" class="wrapper select-wrapper" onclick="Mapa.toggleSearchSelect('zone', this)" aria-label="Zonas">
    <div id="zone-trigger" class="select-filter">
      <img class="icon" src="/images/zone.svg"/>
      Zonas
    </div>
    <ul id="zone" class="select-options">
      <%= search_options(@zone_options, 'zones', 'map') %>
    </ul>
    <i class="fas fa-chevron-down right"></i>
  </button>
  <div id="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" id="search-text" name="search" placeholder="Buscar..." data-controller="map" data-action="keyup->map#search" data-category="text"></input>
  </div>
  <div class="select-filter button clear-filters" onclick="Mapa.clearFilters()">
    <img class="icon" src="/images/clear-filters.svg"/>
    <span>Borrar filtros</span>
    <div id="results" >Mostrando <%= turbo_frame_tag "showing" %> de <%= @total %></div>
  </div>
</div>
