<% if notice.present? %>
  <%= render partial: '/layouts/notification', locals: {msg: notice} %>
<% end %>
<div class="title-section">
  <div class="title">
    <span class="title-first">¿Qué es el </span>
    <h1>Mapa Verde</h1>
    <span class="title-last">?</span></div>
  <p class="title-desc">
    Mapa Verde es una plataforma digital de información y comunicación que conecta a iniciativas juveniles ambientales entre ellas y con el resto de la sociedad. Permite visualizar: a) las organizaciones sin fines de lucro conformadas total o mayoritariamente por jóvenes que actúan en respuesta a la crisis ambiental; b) los emprendimientos ambientales juveniles; c) los espacios de participación o voluntariado ambiental juvenil, y d) las redes ambientales uruguayas integradas por jóvenes. Además, ofrece una agenda actualizada de actividades y recursos disponibles para la acción ambiental joven. ¡Te damos la bienvenida!
  </p>
  <div class="buttons">
    <a class="btn main-button" href="/sobre-el-proyecto">Más información del proyecto</a>
    <a class="btn main-button" href="/nueva-organizacion">Quiero sumar mi iniciativa</a>
    <a class="btn main-button" href="/nueva-actividad">Quiero sumar mi actividad</a>
  </div>
</div>
<div class="backdrop"></div>
<div id="mapa-section"  data-controller="map">
  <%= render partial: 'map_filters' %>
  <div id="map-wrapper">
    <div id="orgs-list">
      <%= turbo_frame_tag "orgs_list", src: search_url(format: :turbo_stream)%>
    </div>
    <div id="no-results" style="display:none;">
      <span>No hay resultados para los filtros seleccionados</span>
      <i onclick="jQuery('#no-results').hide();" class="fa fa-close"></i>
    </div>
    <div id="map" style="height: 500px;"></div>
  </div>
</div>
<div>
  <h2>Próximas actividades</h2>
  <%= turbo_frame_tag "acts_list", src: activities_list_url(format: :turbo_stream) do %>
    <% 3.times do %>
      <%= render "/layouts/article_placeholder" %>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "acts_pagination" %>
</div>