<!-- remove placeholders -->
<%= turbo_stream.remove("articles_placeholder") %>
<!-- append @articles to the #article_list turbo_frame -->
<%= turbo_stream.update("resources-list") do %>
    <%= render @resources %>
<% end %>
<!-- update the pagination turbo_frame with the current pagination offset -->
<%= turbo_stream.update "pagination" do %>
  <%== pagy_nav(@pagy, class: "btn-pager" ) if @pagy.pages > 1 %>
  <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy %></p>
<% end %> 