<% content_for(:image_section) { image_tag('mapa.png') } %>
<h1>Sumate al mapa Verde</h1>
<p>
    ¡Únete al Mapa Verde y comparte tu iniciativa! Si eres parte de una organización, emprendimiento, red o iniciativa ambiental juvenil, o tienes una idea para promover la acción ambiental entre jóvenes, ¡cuéntanos! Completa el formulario a continuación para postular tu iniciativa y formar parte de la plataforma:
</p>
<h2>Completá este formulario</h2>
<%= form_with(model: @organization, url: create_organization_path, data: {controller: 'form', action: "turbo:submit-end->form#validate"}, id: "organization-form") do |form| %>
<div class="section">
  <h5>Nombre y tipo de organización</h5>
  <div class="row">
    <div class="half column">
      <%= form.text_field :name, placeholder: "Nombre de la organización", action: 'keyup->form#remove_error' %>
      <span data-form-target="errorContainer" data-error-type="name" role="alert" class="error-text"></span>
    </div>
    <div class="half column">
      <%= form.select :organization_type_id, OrganizationType.all.pluck(:name, :id), include_blank: "Tipo de organización", selected: '', action: 'change->form#remove_error' %>
      <span data-form-target="errorContainer" data-error-type="organization_type" role="alert" class="error-text"></span>
    </div>
  </div>
  <div class="column">
    <%= form.select :subject_id, Subject.all.pluck(:name, :id), include_blank: "Temática principal", action: 'change->form#remove_error' %>
    <span data-form-target="errorContainer" data-error-type="subject" role="alert" class="error-text"></span>
    <label class="input-file-label" for="organization_logo"><i class="fas fa-image"></i><span>Subir logo</span></label>
    <%= form.file_field :logo, data: { action: 'change->form#select_image', target: 'form.file' } %> <span id="image-name"></span>
  </div>
</div>
<div class="section">
  <h5>Otras temáticas</h5>
  <div class="row">
    <%= collection_check_boxes :organization, :subject_ids, Subject.all, :id, :name %>
  </div>
</div>
<div class="section">
  <h5>Acciones</h5>
  <div class="row">
    <%= collection_check_boxes :organization, :operation_ids, Operation.all, :id, :name %>
  </div>
</div>
<div class="section inline">
  <h5>Contacto</h5>
  <div class="row">
    <div class="half column">
      <%= form.text_field :website, placeholder: "Sitio web" %>
      <%= form.text_field :whatsapp, placeholder: "Whatsapp" %>
      <%= form.text_field :instagram, placeholder: "Instagram" %>
      <%= form.text_field :twitter, placeholder: "Twitter" %>
      <%= form.text_field :facebook, placeholder: "Facebook" %>
    </div>
    <div class="half column">
      <%= form.text_field :phone, placeholder: "Teléfono" %>
      <div>
      <%= form.email_field :email, placeholder: "Email", action: 'keyup->form#remove_error' %>
      <span data-form-target="errorContainer" data-error-type="email" role="alert" class="error-text"></span>
      </div>
      <%= form.text_field :tiktok, placeholder: "Tiktok" %>
      <%= form.text_field :snapchat, placeholder: "Snapchat" %>
      <%= form.text_field :other_network, placeholder: "Otras" %>
    </div>
  </div>
</div>
<div class="section general-info">
  <h5>Información general</h5>
  <div class="row select-3">
    <%= form.text_field :address, placeholder: "Dirección" %>
    <%= form.select :region, Organization.regions, include_blank: "Región" %>
    <%= select_tag :state_id, options_for_select(Zone.where(ztype: 1).order(:name).pluck(:name, :id)), include_blank: "Departamento", data: { action: 'change->form#select_state', target: 'form.stateId' } %>
    <%= turbo_frame_tag "locations" do %>
      <%= form.select :location_id, [], include_blank: "Localidad" %>
    <% end %>
  </div>
  <div class="row">
    <%= form.text_area :description,  placeholder: "Descripción general de la organización", action: 'keyup->form#remove_error' %>
    <span data-form-target="errorContainer" data-error-type="description" role="alert" class="error-text"></span>
  </div>
</div>
<div class="section">
  <h5>Zonas de trabajo de la organización</h5>
  <%= form.select :zone_ids, zone_search_options(Zone.all), id: "zones", multiple: true, action: 'change->form#remove_error' %>
  <span data-form-target="errorContainer" data-error-type="zones" role="alert" class="error-text"></span>
</div>
<div class="section volunteers">
  <h5>Oportunidades de voluntariado</h5>
  <div class="row column">
    <%= form.text_area :volunteers_description, placeholder: "Información sobre voluntariado en la organización y forma de contacto." %>
    <%= form.text_field :volunteers_url, placeholder: "Enlace para más información y sumarse a voluntariado" %>
    <%= form.text_field :donations, placeholder: "Enlace para donaciones" %>
  </div>
</div>

  <%= form.submit "Enviar", class: "input-file-label" %>
<% end %>