<!-- remove placeholders -->
<%= turbo_stream.remove("articles_placeholder") %>
<!-- append @articles to the #article_list turbo_frame -->
  <div id="activities">
  <%= turbo_stream.update("acts_list") do %>
      <%= render @activities %>
  <% end %>
  </div>
<!-- update the pagination turbo_frame with the current pagination offset -->
<%= turbo_stream.update "acts_pagination" do %>
  <% 
  page_params = {}
  if @starts.present?
    page_params[:starts] = @starts
  end
  if @ends.present?
    page_params[:ends] = @ends
  end
  %>
  <%== pagy_nav(@pagy_acts, class: "btn-pager" ) if @pagy_acts.pages > 1 %>
  <p class="text-center mt-8 text-gray-50 0"><%== pagy_info @pagy_acts %></p>
<% end %> 