<!-- remove placeholders -->
<%= turbo_stream.remove("articles_placeholder") %>
<!-- append @articles to the #article_list turbo_frame -->
  <div id="activities">
  <%= turbo_stream.update("acts_list") do %>
      <%= render @activities %>
  <% end %>
  </div>
<!-- update the pagination turbo_frame with the current pagination offset -->
<%= turbo_stream.update "acts_pagination" do %>
  <% if @pagy_acts.prev %>
    <%= link_to "Anterior", activities_list_url(page_acts: @pagy_acts.prev), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow" %>
  <% end %>
  <% if @pagy_acts.next %>
    <%= link_to "Siguiente", activities_list_url(page_acts: @pagy_acts.next), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow" %>
  <% end %> 
  <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy_acts %></p>
<% end %> 