<ul class="menu">
    <li>
        <%= link_to "Mapa", "/" %>
    </li>
    <li>
        <%= link_to "Calendario", "/" %>
    </li>
    <li>
        <%= link_to "Reccursos", "/" %>
    </li>
    <li>
        <%= link_to "Novedades", "/" %>
    </li>
    <li>
        <%= link_to "Sobre el proyecto", "/" %>
    </li>
    <li>
        <%= link_to "Contacto", "/" %>
    </li>
    <li>
        <%= link_to "Quiero involucrarme", "/", class: "involucrarme" %>
    </li>
</ul>